# Snowflake
SNOWFLAKE_ORGANIZATION_NAME=jywedmc      # https://app.snowflake.com/ORGNAME/accountname
SNOWFLAKE_ACCOUNT_NAME=uy55769          # https://app.snowflake.com/orgname/ACCOUNTNAME
SNOWFLAKE_USER=ton_username
SNOWFLAKE_PASSWORD=ton_password
SNOWFLAKE_ROLE=ACCOUNTADMIN              # Rôle par défaut, on affinera avec Terraform
SNOWFLAKE_WAREHOUSE=COMPUTE_WH           # Nom du warehouse qu'on va créer via Terraform
SNOWFLAKE_DATABASE=MARKETDATA            # Nom de la database qu'on va créer via Terraform
SNOWFLAKE_SCHEMA=RAW                     # Schema de la zone brute
