# Snowflake
SNOWFLAKE_ACCOUNT=abc12345.eu-west-1     # Visible dans l'URL de ton compte Snowflake
SNOWFLAKE_USER=ton_username
SNOWFLAKE_PASSWORD=ton_password
SNOWFLAKE_ROLE=ACCOUNTADMIN              # Rôle par défaut, on affinera avec Terraform
SNOWFLAKE_WAREHOUSE=COMPUTE_WH           # Nom du warehouse qu'on va créer via Terraform
SNOWFLAKE_DATABASE=MARKETDATA            # Nom de la database qu'on va créer via Terraform
SNOWFLAKE_SCHEMA=RAW                     # Schema de la zone brute
